body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100%;
  background-color: brown;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 112px;
  background-color: black;
  color: lightgray;
  padding: 20px;
}

name {
  display: flex;
  flex-direction: column;
}

brand {
  font-size: 35px;
}

slogan {
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: gray;
}

page {
  padding: 5px;
  background-color: teal;
}

main {
  background-color: tomato;
}

pics {
  background-color: olivedrab;
  display: grid;
  grid-template: 30% 1fr / 1fr;
}

#ame-window {
  width: 30%;
  height: 30%;
  /* padding: 5%; */
}

#nookhoosei {
  width: 52%;
  height: 72%;
  /* padding: 5%; */
}

blurbs {
  background-color: purple;
  display: flex;
}

blurb {
  background-color: green;
  display: flex;
  flex-direction: column;
}

blurbtitle {
  background-color: teal;
  font-size: medium;
}

p {
  background-color: rgb(202, 29, 38);
  display: flex;
  flex-direction: column;
}

text {
  background-color: blue;
}

h2 {
  background-color: blueviolet;
}

footer {
  background-color: pink;
}
